fastapi==0.115.6
uvicorn[standard]==0.32.1
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
alembic==1.14.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
pydantic-settings==2.6.1
pydantic[email]==2.10.3
pillow==11.0.0
pandas==2.2.3
python-multipart==0.0.20
httpx==0.28.1
neo4j==5.27.0
scikit-learn==1.5.2
numpy==2.1.3
